<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ADBClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ADBClient.Properties.Settings>
            <setting name="PathToADK" serializeAs="String">
                <value>C:\Program Files (x86)\Android\android-sdk\</value>
            </setting>
        </ADBClient.Properties.Settings>
    </applicationSettings>
</configuration>